/******************************
      DEFAULT STYLING 
*******************************/
body {
  font-family: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a {
  text-decoration: none;
}
:root {
  --primary-color: #9f476a;
}
.heading {
  color: var(--primary-color);
  font-weight: bold;
}

/******************************
          SCROLLBAR
*******************************/
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #a8aaa6;
}

/********************************
            NAVBAR 
*********************************/

#navbar {
  /* background-color: #ecf1f2; */
  background-color: #e3e6f3;
}
#navbar {
  width: 100%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
#tea_list {
  background-color: #e6dfd9;
}
#navbar .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.navbar-toggler {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}
#tastea {
  /* color: #a8394a; */
  color: var(--primary-color);
  font-weight: 800;
}
#navbarSupportedContent a {
  color: #000;
  font-size: 15px;
  letter-spacing: 0.5px;
}
#navbarSupportedContent a:hover {
  color: var(--primary-color);
}
#whatsapp {
  color: green;
}
#tea_list {
  display: none;
}
#list:hover #tea_list li a {
  display: contents;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.list-background {
  background-color: #e6dfd9;
}
/************************************
          IMAGE SECTION
*************************************/
#image-section {
  width: 100%;
  height: 100vh;
  background: url("./images/background_image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#image-text {
  padding: 3rem;
}

/* Img-heading  */
#head1 {
  line-height: 4rem;
  color: rgb(77, 68, 68);
  font-weight: bolder;
  font-size: 2.6rem;
}
#head2 {
  font-size: 3.3rem;
  line-height: 4rem;
  color: #9f476a;
  font-weight: bolder;
}
#head3 {
  font-size: 3.3rem;
  line-height: 4rem;
  color: #9f5b76;
  font-weight: bolder;
}
#para {
  font-size: 1rem;
  color: #465b52;
  margin: 1rem 0 1.3rem 0;
  font-weight: 600;
}
.main-btn {
  border-radius: 23px;
  background-color: #9f5b76;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  transition: 1s ease-out;
}
.main-btn:hover {
  /* background-color: #d47197; */
  background-color: #d2779b;
  transition: 0.3s ease-in;
}

/************************************
             WHY TASTEA
**************************************/
.headers {
  color: #996278;
  font-weight: 800;
  font-size: 36px;
}
#slider_container img {
  border-radius: 23px;
}
#slider_container p {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

/* BEST SELLERS  */
.card-text {
  font-size: 16px;
  color: #9f5b76;
  font-weight: bold;
}
.card-text:hover {
  color: #c66e92;
}
.my-card {
  cursor: pointer;
  border-radius: 17px;
  border: none;
  margin-bottom: 20px;
}
.card-img {
  /* border-radius: 17px; */
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  height: 250px;
}

/* ****************************************
        HOW CAN WE HELP YOU SECTION
  *****************************************/
.help_button {
  border-radius: 12px;
  padding: 0.3rem 1rem;
}
#help_section {
  border-radius: 17px;
}
#help_section label {
  color: #620429;
  font-size: 15px;
}

/*****************************************
            STAY CONNECTED 
******************************************/
#stay_connected {
  /* background-color: rgb(227 230 243); */
  background-color: #e8cbd7;
}

#submit_button {
  border: none;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 10px;
  padding-left: 5px;
  background: white;
}

#email {
  width: 40%;
  border: none;
  padding: 5px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#email::placeholder{
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#emailForm svg{
  color: green;
}

/**********************************
             FOOTER
************************************/
#footer li {
  list-style: none;
}
#footer a:hover {
  color: #9f476a;
}
#footer a {
  color: #332a2d;
  font-size: 0.934rem;
  line-height: 20px;
}

.footer_head {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  color: #9f476a;
}
#footer .head {
  font-size: 1.1rem;
  color: #9f476a;
}
#footer h3 {
  color: #9f476a;
}
