/* @media screen and (max-width: 1000px) {
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}
@media screen and (max-width: 767px) {
} */

@media screen and (max-width: 540px) {
    .customize img{
        height: 240px;
        width: 180px;
    }
    .customize {
        margin: 0 2.2rem;
    }
    .custom_div{
        margin: 0 5px;
    }

    /* form */
    .corporate_form input{
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
@media screen and (max-width: 450px) {
    .customize img{
        height: 200px;
        width: 150px;
    }
    .customize{
        margin: 0 2rem;
    }

    /* form */
    .corporate_form input{
        padding-top: 2px;
        padding-bottom: 2px;
    }

}
@media screen and (max-width: 385px) {
    .customize img{
        height: 180px;
        width: 135px;
    }
}
@media screen and (max-width: 353px) {
    .customize{
        margin: 0 1rem;
    }
}
@media screen and (max-width: 321px) {
    .customize img{
        height: 168px;
        width: 124px;
    }
}
@media screen and (max-width: 300px) {
    .customize img{
        height: 160px;
        width: 118px;
    }
    .customize{
        margin: 0 0.5rem;
    }
}
/* 
  @media screen and (max-width: 280px){
  }
  @media screen and (min-width: 993px) and (max-width: 1500px) {
  }
  @media screen and (max-width: 1083px){
  }  */
