.my-blog img{
    display: block;
    width: 100%;
}
.my-blog p{
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}
@media screen and (min-width: 522px) {
    .my-blog{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

    }

   .my-blog img{
    width: 300px;
    height: 300px;
   }
   .blog{
    margin: 0 20px;
   }
}